<?xml version='1.0' encoding='utf-8'?>
<widget 
	xmlns		= "http://www.w3.org/ns/widgets"
   	xmlns:gap	= "http://phonegap.com/ns/1.0"
   	id          	= "com.markmcd.squares"
   	versionCode 	= "10"
   	version     	= "1.0.0" >

<name>Squares</name>

<content src="index.html" />
<preference name="fullscreen"                 value="true" />











</widget>